body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: white;
}
video {
    padding: 50px;
}
h1 {
    padding-bottom: 20px;
}
form {
    /* CSS für das Formular */
        width: 800px;
        margin: 0 auto;
        text-align: left;
      }
  
      label {
        display: block;
        text-align: left;
      }
      label:hover {
        cursor: pointer;
      }
  
      input {
        width: 10;
      }
      input:hover {
        cursor: pointer;
      }
.white {
    color: white;
}

  /* CSS für das Bild */
  #bild1 {
    position: absolute;
    width: 230px;
    height: auto;
    margin-left: 300px;
    margin-top: -190px;
  }
  #bild2 {
    position: absolute;
    width: 160px;
    height: auto;
    margin-left: 337px;
    margin-top: -185px;
  }
  .schemabild {
    width: 300px;
    height: auto;
    margin-left: 20px;
}
.schemabild:hover{
    cursor: pointer;
}

.farbbild {
    width: 239px;
    height: auto;
    margin-right: 20px;
    border: 1px solid black;
}
.farbbild:hover{
    cursor: pointer;
}











#kapu {
    width: 800px;
    width: 800px;
    margin: 0 auto;
    
}



#kap {
    width: 800px;

}


/* CSS-Styling für die Navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
  position: fixed;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}